.main-chat
  .main-chat__group-info
    .main-chat__group-info__left
      %h2.main-chat__group-info__left__current-group
        aaaaaa
      %ul.main-chat__group-info__left__member-list
        Member :
        %li.main-chat__group-info__left__member-list__user
          wwwww
    
    .main-chat__group-info__right
      = link_to "Edit", "#"  
  .main-chat__message-list
    .message
      .message__info
        %p.message__info__title
          wwwww
        %p.message__info__date
          2020/02/24
      %p.message__text
        aaaaaa
    .message
      .message__info
        %p.message__info__title
          wwwww
        %p.message__info__date
          2020/02/24
      %p.message__text
        aaaaaa
  .main-chat__message-form
    .new_message
      %form
        %input(type="text"placeholder="type a message"class="text")
        %label.input-box__image
          = icon('fas', 'image')
          %input{type: "file"}
        %input(type="button" value="Send"class="button")/

 
