.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      %p.side-bar__user-name__box__right<>qqqqqq
      %ul.side-bar__user-name__box__left
        %li.side-bar__user-name__box__left__new-group
          = link_to "#"  do
            = icon('fa', 'edit')
        %li.side-bar__user-name__box__left__edit-user
          = link_to "#"  do
            = icon('fa', 'cog')
  .side-bar__group-list
    .side-bar__group-list__groups
      %p.side-bar__group-list__groups__group<>TECHCAMP
      %p.side-bar__group-list__groups__messages<>まだメッセージはありません
